# Compiled Python files
*.pyc
__pycache__/

# Virtual environment
venv/
env/

# IDE files
.idea/
.vscode/

# Logs and temporary files
*.log
*.swp

# Dependency directories
/.venv
/.env
node_modules/

# Build output
dist/
build/

# Environment variables
.env

# Editor swap files
*.swp
*.swo